{{nav-bar}}
<!-- Page Content -->
<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-lg-12">
      {{#each model as |comic index|}}
      <!-- Title -->
      <h1>{{comic.title}}</h1>
      <hr>
      <!-- Date/Time -->
      <p><span class="glyphicon glyphicon-time"></span> Posted on {{comic.month}}/{{comic.day}}/{{comic.year}}</p>
      <hr>
      <!-- Preview Image -->
      <img class="img-responsive" src="{{comic.img}}" alt="">
      <hr>
      <!-- Post Content -->
      <h3>Alt text:</h3>
      <p class="lead">{{comic.alt}}</p>
      <hr>
      <h3>Transcript:</h3>
      <p>{{comic.transcript}}</p>
      <hr>
      <!-- Blog Comments -->
      {{/each}}
      <div class="fb-comments" data-href="http://www.xkcd-forum.com" data-width="100%" data-numposts="10"></div>
    </div>
  </div>
  <!-- /.row -->
  {{footer-comp}}
</div>
<!-- /.container -->
{{outlet}}
